.segment-control {
    display: flex;
    height: 3rem;

    padding-inline: 0.25rem;

    border-radius: 0.5rem;
    outline: 1px solid var(--input-stroke);

    background-color: var(--input-base);

    & .radio-inner {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 8.25rem;

        margin-block: 0.25rem;
        padding-top: 0.75rem;
        border-radius: 0.25rem;

        position: relative;

        & label {
            font: var(--text-body-sm);
            display: inline-block;
            line-height: 1;
        }

        & img {
            width: 1rem;
            height: 1rem;
        }

        & input {
            all: unset;
            position: absolute;
            inset: 0;
        }

        &:has(:checked) {
            background-color: var(--shape-body);

            & label {
                color: var(--text-heading);
            }

            & .color-svg path {
                fill: var(--brand-light);
            }
        }
    }

    &:hover,
    &:focus {
        outline: 1px solid var(--brand-light);
        outline-offset: 0.1px;
    }
}

