#app {
    display: grid;
    grid-template-columns: 31.25% 64.06%;
    gap: 1.25rem;

    margin: 1.25rem auto;

    max-width: 80rem;
    height: 100vh;

    overflow: hidden;
}

aside {
    & .aside-container {
        max-width: 25rem;
        position: relative;

        & .bg-image {
            & img {
                border-radius: 0.75rem;
            }
        }

        & .aside-content {
            position: absolute;
            top: 0;

            padding: 2rem;

            & img {
                width: 2.86rem;
                height: 3rem;
            }

            & h1 {
                margin-block: 1rem 4px;
            }

            & p {
                font-weight: 300;
            }
        }
    }
}

main {
    overflow: auto;
    background-color: var(--shape-body);
    border-radius: 0.75rem;

    & .main-container {
        max-width: 51.25rem;
        padding: 5rem 8.125rem;
    }
}


.contact {
    & .name-error {
        gap: 0.5rem;
        margin-top: 0.5rem;
        align-items: center;

        & span {
            font: var(--text-body-sm);
            color: var(--danger);
        }
    }
}
