.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.active {
    border: 1px solid var(--brand-light);
}

.error {
    border: 1px solid var(--danger);
}

.border {
    border: 1px solid red;
}